html {
    height: 100%;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #C9DFE4; 
}

.pm-img-body-bg {
    background-image: url('../assets/images/login-bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pm-top-nav {
	z-index: 9999;
}

.wrapper {
	position: relative;
	width: 100%;
	background: #CCC;
}

